# Python Pandas Tutorial (Part 6): Add/Remove Rows and Columns From DataFrames

## 1. Adding and removing column to a dataframe.

In [65]:
peoples = {
    'first':['Vaibhav','Shubham','Pushkar'],
    'last':['Panchal','Naik','Naik'],
    'email':['v2panchal.7@gmail.com','SN@gmail.com','PG@gmail.com']
}

In [28]:
import pandas as pd

In [66]:
dff = pd.DataFrame(peoples)
dff

     first     last                  email
0  Vaibhav  Panchal  v2panchal.7@gmail.com
1  Shubham     Naik           SN@gmail.com
2  Pushkar     Naik           PG@gmail.com

In [67]:
dff['first'] + ' ' + dff['last']

0    Vaibhav Panchal
1       Shubham Naik
2       Pushkar Naik
dtype: object

In [68]:
dff['full_name'] = dff['first'] + ' ' + dff['last']

In [69]:
dff

     first     last                  email        full_name
0  Vaibhav  Panchal  v2panchal.7@gmail.com  Vaibhav Panchal
1  Shubham     Naik           SN@gmail.com     Shubham Naik
2  Pushkar     Naik           PG@gmail.com     Pushkar Naik

In [70]:
dff.drop(columns=['first','last'])

                   email        full_name
0  v2panchal.7@gmail.com  Vaibhav Panchal
1           SN@gmail.com     Shubham Naik
2           PG@gmail.com     Pushkar Naik

In [71]:
dff.drop(columns=['first','last'],inplace=True)

In [72]:
dff

                   email        full_name
0  v2panchal.7@gmail.com  Vaibhav Panchal
1           SN@gmail.com     Shubham Naik
2           PG@gmail.com     Pushkar Naik

In [73]:
dff['full_name'].str.split(' ')

0    [Vaibhav, Panchal]
1       [Shubham, Naik]
2       [Pushkar, Naik]
Name: full_name, dtype: object

In [74]:
dff['full_name'].str.split(' ',expand=True)

         0        1
0  Vaibhav  Panchal
1  Shubham     Naik
2  Pushkar     Naik

In [75]:
dff[['first','last']] = dff['full_name'].str.split(' ',expand=True)

In [76]:
dff

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik

## 2. Adding and removing rows to a dataframe.

In [77]:
dff.append({'first':'Arti'})

TypeError: Can only append a dict if ignore_index=True

In [78]:
dff.append({'first':'Arti'},ignore_index=True)

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
3                    NaN              NaN     Arti      NaN

In [79]:
people = {
    'first':['Bajirao','Radhe','Kumar'],
    'last':['Singham','Mohan','Mahajan'],
    'email':['BS@gmail.com','RM@gmail.com','KM@gmail.com']
}
dfg = pd.DataFrame(people)
dfg

     first     last         email
0  Bajirao  Singham  BS@gmail.com
1    Radhe    Mohan  RM@gmail.com
2    Kumar  Mahajan  KM@gmail.com

In [80]:
dff.append(dfg,ignore_index=False)

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
0           BS@gmail.com              NaN  Bajirao  Singham
1           RM@gmail.com              NaN    Radhe    Mohan
2           KM@gmail.com              NaN    Kumar  Mahajan

In [81]:
dff = dff.append(dfg,ignore_index=True)
dff

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
3           BS@gmail.com              NaN  Bajirao  Singham
4           RM@gmail.com              NaN    Radhe    Mohan
5           KM@gmail.com              NaN    Kumar  Mahajan

In [82]:
dff.drop(4)

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
3           BS@gmail.com              NaN  Bajirao  Singham
5           KM@gmail.com              NaN    Kumar  Mahajan

In [83]:
dff

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
3           BS@gmail.com              NaN  Bajirao  Singham
4           RM@gmail.com              NaN    Radhe    Mohan
5           KM@gmail.com              NaN    Kumar  Mahajan

In [84]:
dff.drop(index=[4,2,5])

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
3           BS@gmail.com              NaN  Bajirao  Singham

In [85]:
dff

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
1           SN@gmail.com     Shubham Naik  Shubham     Naik
2           PG@gmail.com     Pushkar Naik  Pushkar     Naik
3           BS@gmail.com              NaN  Bajirao  Singham
4           RM@gmail.com              NaN    Radhe    Mohan
5           KM@gmail.com              NaN    Kumar  Mahajan

In [98]:
filt = dff['last'] == 'Naik'
dff.drop(dff[filt].index)

                   email        full_name    first     last
0  v2panchal.7@gmail.com  Vaibhav Panchal  Vaibhav  Panchal
3           BS@gmail.com              NaN  Bajirao  Singham
4           RM@gmail.com              NaN    Radhe    Mohan
5           KM@gmail.com              NaN    Kumar  Mahajan